html {
  scroll-behavior: smooth;
}

.navbar__header {
  font-size: 1rem;
  margin-top: 0.3rem;
  /* color: black; */
}

.body {
  font-family: 'Quicksand', sans-serif;
  /* text-align: center; */
  /* background-color: #343434; */
  /* color: #CCDAD1; */
  /* color: #ddd; */
}

.welcome-card {
  position: relative;
  min-height: 45rem;
  width: 100%;
  height: auto;

  background-image: url("img/blake-connally-373084-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.bio-card {
  position: absolute;
  margin-top: 3rem;
  font-size: 1.3rem;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
}
