.navbar__header {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}
.navbar {
  font-family: 'Quicksand', sans-serif;
}

.body {
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}
.body__header {
  color: #a6a6a6;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 1rem;
}

.scroll-background {
  width: 100%;
  min-height: 100vh;

  background-image: url("img/blake-connally-373084-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  text-align: center;
}
.scroll-background__text {
  padding-top: 4rem;
  color: rgba(255, 255, 255, 0.5);
}
.scroll-background__scroller {
  cursor: pointer;
}

.main-card {
  background-color: white;
  padding-top: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.3rem;
  z-index: 1;
}

.stylish-hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #a6a6a6, rgba(0, 0, 0, 0));
}

.skill {
  margin-bottom: 1rem;
}
.skill__name {
  /* Applied to h2 elements in #skills */
  font-size: 1.2rem;
  margin-top: -0.9rem;
}
.row {
  margin-top: 2rem;
}

@keyframes fill-progress-bar {
  0% { width: 0; }
}
.progress {
  height: 0.1rem !important;
  border-radius: 0 !important;
  overflow: unset !important;
}
.progress-bar {
  height: 0.3rem !important;
  margin-top: -0.1rem !important;
}
.progress-bar--fill {
  width: var(--progress);
  background-color: #a6a6a6 !important;
  animation: fill-progress-bar 1.25s;
}