:root {
  --background: #282a36;
  --white: #f8f8f2;
  --slate: #44475a;
  --subheader: #6272a4;
  --slate-purple: #383A59;
  --purple: #bd93f9;
  --cyan: #8be9fd;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --red: #ff5555;
}

.navbar__header {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  color: var(--green);
}

.body {
  background-color: var(--background);
  color: var(--white);
  font-size: 1.3rem;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
  min-height: 100%;
}
.body__header {
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--green);
}
.body__header--small {
  font-size: 2rem;
  color: var(--cyan);
}
.body__header--xsmall {
  font-size: 1rem;
  color: var(--subheader);
}
.body__sub-header--reduced-margin {
  margin-top: -0.9rem;
}
/* .body__text--accent-color {
  color: #9297c4 !important;
} */
.body__background--accent-color {
  background-color: var(--pink) !important;
}
.body__any--reduced-opacity {
  opacity: 0.75;
}

.div--margin-bottom {
  margin-bottom: 2rem;
}
.div--no-margin-top {
  margin-top: 0rem !important;
}


.landing-page {
  min-width: 100%;
  min-height: 55rem;

  background-image: url("img/blake-connally-373084-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  text-align: center;
}
.landing-page__header {
  padding-top: 4rem;
  font-size: 4rem !important;
  color: var(--white)
}
.landing-page__scroller {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  margin-bottom: 0.5%;
  font-size: 1.5rem !important;
}


.main-card {
  padding-top: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  z-index: 1;
}

.footer {
  margin-top: 5rem;
  bottom: 0;
  font-size: 1rem;
  padding: 0.25rem;
  text-align: center;
  background-color: var(--slate-purple);
}

.stylish-hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(146, 151, 196), rgba(0, 0, 0, 0));
}

/*****************************/
/* Editing Bootstrap classes */
/*****************************/

.row {
  margin-top: 1rem;
}

.navbar-dark {
  background-color: var(--background) !important;
  box-shadow: 0rem 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0rem 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0rem 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
}

@keyframes fill-progress-bar {
  0% { width: 0; }
}
.progress {
  height: 0.1rem !important;
  border-radius: 0 !important;
  overflow: unset !important;
  margin-top: 0.3rem;
}
.progress-bar {
  height: 0.3rem !important;
  margin-top: -0.1rem !important;
}
.progress-bar--fill {
  width: var(--progress);
  animation: fill-progress-bar 1.25s;
}